In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
k = 5
columns = ['item_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
features = ['unknown', 'Action', 'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [3]:
df = pd.read_csv('./ml-100k/u.item', sep='|', names=columns, encoding='latin-1')
df['release_date'] = pd.to_datetime(df['release_date'])
df['movie_title'] = df['movie_title'].apply(lambda s: s.replace(r'\(.*\)', '').strip().lower())

In [4]:
item_similarity = cosine_similarity(df[features])
item_similarity = pd.DataFrame(item_similarity, index=df['item_id'], columns=df['item_id'])

In [5]:
# top k items that similar to item i
def top_k_similar_items(item_similarity, i, k):
    item_ids = item_similarity.loc[i].sort_values(ascending=False).index[1:k+1]
    similarity = item_similarity.loc[i].sort_values(ascending=False).values[1:k+1]
    ans = pd.DataFrame({'item_id': item_ids, 'similarity': similarity})
    ans['movie_title'] = ans['item_id'].apply(lambda i: df[df['item_id'] == i]['movie_title'].values[0])
    return ans

In [6]:
top_k_similar_items(item_similarity, 5, 10)

   item_id  similarity                movie_title
0     1213    1.000000       guilty as sin (1993)
1      329    1.000000  desperate measures (1998)
2      332    1.000000      kiss the girls (1997)
3      100    1.000000               fargo (1996)
4      348    1.000000  desperate measures (1998)
5     1208    1.000000       kiss of death (1995)
6     1069    1.000000             amateur (1994)
7        5    1.000000             copycat (1995)
8       55    0.866025   professional, the (1994)
9      914    0.866025         wild things (1998)